.productDetail {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: #30c7ff;
  margin-top: 3rem;
  margin-bottom: -2rem;
}
.productInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}
.productSpec {
  width: 100%;
  padding: 50px;
  background-color: #005676;
  border-radius: 30px;
}
.addCartButton {
  padding: 10px;
  width: 30%;
  font-weight: bolder;
  border-width: 5px;
  color: #005676;
  background-color: lightblue;
  border-color: #005676;
  cursor: pointer;
}
.addCartButton:hover {
  color: #30c7ff;
  background-color: black;
  border-color: #30c7ff;
}
