.profileController {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.profileDiv {
  color: #30c7ff;
  margin-top: 50px;
  margin-bottom: -20px;
}
.profileDetail {
  background-color: #005676;
  width: 200%;
  text-align: center;
  padding: 50px;
  border-radius: 30px;
  margin-left: -4rem;
}
.userDetail {
  text-align: justify;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 20px;
  border-radius: 30px;
  margin-top: 4rem;
  font-size: 14px;
}
.editProfileButton {
  margin-top: 8vh;
  padding: 10px;
  width: 25%;
  cursor: pointer;
  width: 150px;
  padding: 6px;
  background-color: #30c7ff;
  color: #005676;
  font-weight: bold;
  border-radius: 35px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
}
.editProfileButton:hover {
  background-color: black;
  color: #30c7ff;
}
.paymentStatus {
  display: flex;
  flex-direction: column;
}
.paymentDetail {
  background-color: #005676;
  color: #30c7ff;
  margin-top: 50px;
  text-align: center;
  width: 100%;
  padding: 50px;
  border-radius: 30px;
}
.tableHistoryController {
  display: flex;
  align-items: center;
  justify-content: center;
}
.historyList {
  color: black;
  text-align: center;
  align-items: center;
  border-style: solid;
  border-color: black;
  border-width: thick;
  border-radius: 20px;
  background-color: #30c7ff;
  width: 100%;
}
.historyList td {
  padding: 25px;
}
.addressDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addressController {
  background-color: #005676;
  color: #30c7ff;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: -20px;
  width: 50%;
  border-radius: 30px;
}
.addAddress {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: black;
  border-radius: 30px;
}
.addAddress input {
  text-align: center;
  padding: 6px;
  width: 30%;
  border-radius: 6px;
}
.showAddress {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  margin-top: 20px;
  border-radius: 30px;
}
.showAddress table {
  text-align: center;
}
.showAddress td {
  padding: 30px;
}
.paymentMethod {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paymentList {
  color: black;
  text-align: center;
  align-items: center;
  border-style: solid;
  border-color: black;
  border-width: thick;
  border-radius: 20px;
  background-color: #30c7ff;
  width: 100%;
}
.paymentList td {
  padding: 30px;
}